h1{font-size:20px;
	color: LightBlue;
	}
h2{font-size:17px;
	}	

body {
  font: 100.01% Verdana, Arial, Helvetica, sans-serif;
}

* {
  margin:0;
  padding:0;
}

#seite {
  width: 100%;
  margin: 0 auto;
}

#kopfbereich {
  padding: 20px;
  background-color:white;
  font-size: 25px;
}

#inhalt {
  background-color: white;
  margin-left: 20px;
  padding: 20px;
}

#steuerung {
  float: left;
  width:150px;
  height:1000px;
  padding:20px;
  background-color: white;
  border:0px solid black;
  margin-right: 20px;
  line-height: 20px;
}

</style>
